<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table mat-table #table [dataSource]="forecasts">
  <ng-container matColumnDef="productNo">
    <th mat-header-cell *matHeaderCellDef> productNo </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.productNo}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.description}} </td>
  </ng-container>
  <ng-container matColumnDef="stockQuantity">
    <th mat-header-cell *matHeaderCellDef> stockQuantity </th>
    <td mat-cell *matCellDef="let forecast"> {{forecast.stockQuantity}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['productNo', 'name', 'description', 'stockQuantity']"></tr>
  <tr mat-row *matRowDef="let forecast; columns: ['productNo', 'name', 'description', 'stockQuantity'];"></tr>
</table>
